.container {
  border: 2px solid #6A5449;
  border-radius: 4px;
  margin-top: 5px;
  padding: 10px;
}

table {
  align-items: end;
  display: grid;
  grid-template-columns: repeat(6, minmax(60px, 1fr));
  grid-gap: 10px;
  min-width: 100%;
}

thead,
tbody,
tr {
  display: contents;
}

th {
  color: #6A5449;
  font-weight: bold;
  position: sticky;
}

th.left {
  text-align: left;
}

th.right {
  text-align: right;
}


