* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
  margin: 0 auto;
}

.navbar {
  background-color:#6A5449;
  padding: 18px 10px;
  border-radius: 4px;
}

.title {
  color: bisque;
  float: left;
  font-size: 1.5em;
  font-weight: bold;
}

.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-links li {
    display: inline-block;
    margin-left: 40px;
}

.nav-links li a {
  float: left;
  color: darksalmon;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  margin-top: 5px;
}

.nav-links li a:hover {
  background-color: bisque;
  color: #6A5449;
}

.nav-links li a.active {
  background-color: #04AA6D;
  color: white;
}

